<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-white" style="z-index:3;width:180px"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s4">
      <a routerLink="/dashboard">
        <img src="../../assets/docker-logo.png" class="w3-margin-center" style="width:150px">
      </a>
    </div>
  </div>
  <hr>
  <div class="w3-bar-block">
    <a routerLink="/dashboard" class="w3-bar-item w3-button w3-padding"><i class="fa fa-dashboard fa-fw"></i>  Dashboard</a>
    <a routerLink = "/products" class="w3-bar-item w3-button w3-padding"><i class="fa fa-shopping-bag fa-fw"></i>  Products</a>
  </div>
</nav>