<div class="w3-row-padding w3-third">
    <h2>Product Details</h2>
    <div class="w3-card-4">
        <div *ngIf = "product">
            <header class="w3-container w3-blue">
                <h4>{{ product.name }}</h4>
            </header>
            <div class="w3-container w3-cell">
                <div>
                    <p>
                        <label>ID: 
                            <b>{{product.productId}}</b>
                        </label>
                    </p>
                </div>
                <div>
                    <p>
                        <label>Name:
                            <b>{{product.name}}</b>
                        </label>
                    </p>
                </div>
                <div>
                    <p>
                        <label>Product Number:
                            <b>{{product.productNumber}}</b>
                        </label>
                    </p>
                </div>
                <div>
                    <p>
                        <label>Color:
                            <b>{{product.color}}</b>
                        </label>
                    </p>
                    </div>
                <div>
                    <p>
                        <label>List Price:
                            <b>{{product.listPrice | currency:"$"}}</b>
                        </label>
                    </p>
                </div>
            </div>
            <div class="w3-container w3-cell w3-cell-middle">
                <div>
                    <img class="w3-image w3-border" src="data:image/gif;base64,{{product.thumbNailPhoto}}">
                </div>
                <br>
                <div>
                    <button class="w3-button w3-white w3-round-xxlarge w3-border w3-border-black" (click)="goBack()">go back</button>
                </div>
            </div>
        </div>
    </div>
</div>