<div class="w3-row-padding w3-margin-bottom module product">
  <h2>Dashboard</h2>
  <br>
  <h3>Top Selling Products</h3>
  <div class="w3-quarter">
    <div class="w3-container w3-red w3-padding-16 w3-card-4">
      <a [routerLink]="['/detail/' + topSales[0]?.productId]">
        <div class="w3-right">
          <h3>{{topSales[0]?.totalSales | currency:"USD$"}}</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>{{topSales[0]?.name}}</h4>
      </a>
    </div>
  </div>
  <div class="w3-quarter">
    <div class="w3-container w3-blue w3-padding-16 w3-card-4">
      <a [routerLink]="['/detail/' + topSales[1]?.productId]">
        <div class="w3-right">
          <h3>Total Sales: {{topSales[1]?.totalSales | currency:"USD$"}}</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>{{topSales[1]?.name}}</h4>
      </a>
    </div>
  </div>
  <div class="w3-quarter">
    <div class="w3-container w3-teal w3-padding-16 w3-card-4">
      <a [routerLink]="['/detail/' + topSales[2]?.productId]">
        <div class="w3-right">
          <h3>Total Sales: {{topSales[2]?.totalSales | currency:"USD$"}}</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>{{topSales[2]?.name}}</h4>
      </a>
    </div>
  </div>
  <div class="w3-quarter">
    <div class="w3-container w3-orange w3-padding-16 w3-card-4">
      <a [routerLink]="['/detail/' + topSales[3]?.productId]">
        <div class="w3-right">
          <h3>Total Sales: {{topSales[3]?.totalSales | currency:"USD$"}}</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>{{topSales[3]?.name}}</h4>
      </a>
    </div>
  </div>
</div>